<div class="container d-flex justify-content-between align-items-center">
  <div class="block">
    <div class="image cenzor"></div>
    <button [routerLink]="[ '/works/cenzor']" class="btn btn-success">details</button>
  </div>
  <div class="block">
    <div class="image task-list"></div>
    <button [routerLink]="[ '/works/tasklist']" class="btn btn-success">details</button>
  </div>
  <div class="block">
    <div class="image user-list"></div>
    <button [routerLink]="[ '/works/userslist']" class="btn btn-success">details</button>
  </div>
</div>
